.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

figure {
  margin: 0;
}

body {
  color: rgb(33, 33, 33);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
}

.instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  fill: rgb(175, 177, 184);
}

.twitter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  fill: rgb(175, 177, 184);
}

.facebook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  fill: rgb(175, 177, 184);
}

.linkedin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  fill: rgb(175, 177, 184);
}

.media-item {
  border-radius: 50%;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-item:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  background-color: rgb(33, 150, 243);
}

.media-list {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
}

.media:hover {
  fill: rgb(255, 255, 255);
}

/* HEADER */
.contact-icon {
  fill: rgb(175, 177, 184);
}

.header-contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.header-contact-item,
.header-contact-item .contact-icon {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact-item:hover,
.header-contact-item:hover .contact-icon {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  fill: rgb(33, 150, 243);
  color: rgb(33, 150, 243);
}

.header {
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(236, 236, 236);
}

.header-portfolio {
  margin-bottom: 94px;
}

.header-contact-link {
  color: rgb(117, 117, 117);
}

.header-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-logo,
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1923076923;
}

.logo-start {
  color: rgb(33, 150, 243);
}

.logo-end {
  color: rgb(33, 33, 33);
}

.footer-logo-end {
  color: rgb(255, 255, 255);
}

.header-logo {
  margin-top: 24px;
  margin-bottom: 25px;
  margin-right: 93px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  width: 145px;
}

.header-nav {
  font-weight: 500;
  line-height: 1.1428571429;
  color: rgb(33, 33, 33);
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 32px;
  margin-bottom: 32px;
}

.header-item {
  width: 44px;
  margin-right: 51px;
}

.header-contact-item:not(:last-child) {
  margin-right: 50px;
}

.header-item:nth-child(2) {
  width: 72px;
  margin-right: 50px;
}

.header-item:nth-child(3) {
  width: 64px;
  margin-right: 344px;
}

.header-hover-item {
  position: relative;
  color: rgb(33, 33, 33);
}

.header-hover-item:is(:focus, :hover) {
  color: rgb(33, 150, 243);
}

.contacts {
  color: rgb(117, 117, 117);
}

.animation::before {
  display: block;
  position: absolute;
  content: " ";
  top: 50px;
  width: 100%;
  height: 5px;
  background-color: rgb(33, 150, 243);
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  border-radius: 20px;
  -webkit-transition: background-color 300ms cubic-bezier(0.42, 0, 0.12, 0.93), -webkit-transform 300ms cubic-bezier(0.42, 0, 0.12, 0.93);
  transition: background-color 300ms cubic-bezier(0.42, 0, 0.12, 0.93), -webkit-transform 300ms cubic-bezier(0.42, 0, 0.12, 0.93);
  transition: transform 300ms cubic-bezier(0.42, 0, 0.12, 0.93), background-color 300ms cubic-bezier(0.42, 0, 0.12, 0.93);
  transition: transform 300ms cubic-bezier(0.42, 0, 0.12, 0.93), background-color 300ms cubic-bezier(0.42, 0, 0.12, 0.93), -webkit-transform 300ms cubic-bezier(0.42, 0, 0.12, 0.93);
}

.animation:hover::before {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.header-link {
  position: relative;
  padding-bottom: 39px;
}

.header-link.current:hover::after {
  content: none;
}

.header-link.current::after {
  display: block;
  position: absolute;
  content: " ";
  bottom: 0;
  width: 100%;
  height: 5px;
  background-color: rgb(33, 150, 243);
  border-radius: 20px;
}

.header-second-link.current:hover::after {
  content: none;
}

.header-second-link {
  position: relative;
  padding-bottom: 39px;
}

.header-second-link.current::after {
  display: block;
  position: absolute;
  content: " ";
  bottom: 1px;
  width: 100%;
  height: 5px;
  background-color: rgb(33, 150, 243);
  border-radius: 20px;
}

.header-first-link,
.header-second-link {
  line-height: 1.1428571429;
}

.header-contact {
  font-weight: 500;
  line-height: 1.1428571429;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 32px;
  margin-bottom: 32px;
  color: rgb(117, 117, 117);
}

.header-contact-link {
  line-height: 16px;
  color: rgb(117, 117, 117);
}

/* MAIN */
.main-portfolio {
  margin-bottom: 94px;
}

/* HERO */
.hero {
  margin-bottom: 94px;
  height: 600px;
  text-align: center;
  background-image: url(../img/hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1600px;
}

.overlay {
  max-width: 1600px;
  height: 480px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid black;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(100%, rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero.png);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 100%, rgba(47, 48, 58, 0.4) 100%), url(../img/hero.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-flex {
  height: 100%;
  width: 1230px;
  margin: 0 auto;
  padding: 0;
}

.hero-title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.3636363636;
  margin-bottom: 30px;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  color: rgb(255, 255, 255);
  padding-top: 150px;
}

.hero-button {
  color: rgb(237, 237, 237);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  width: 216px;
  height: 50px;
  border-radius: 4px;
  cursor: pointer;
  background: rgb(33, 150, 243);
  border: none;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: background-color 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  transition: background-color 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, background-color 300ms ease-in-out;
  transition: transform 300ms ease-in-out, background-color 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.hero-button:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

/* INFORMATION */
.information,
.work {
  background-color: rgb(255, 255, 255);
}

.information-name {
  color: rgb(33, 33, 33);
  font-weight: 700;
  line-height: 1.1428571429;
  margin-bottom: 10px;
}

.information-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 94px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.information-item {
  width: 270px;
  margin-top: 94px;
  margin-bottom: 94px;
}

.antenna::before {
  content: " ";
  display: block;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: rgb(245, 244, 250);
  background-image: url(../img/Antenna.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.clock::before {
  content: " ";
  display: block;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: rgb(245, 244, 250);
  background-image: url(../img/Clock.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.computer::before {
  content: " ";
  display: block;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: rgb(245, 244, 250);
  background-image: url(../img/Computer.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.astronaut::before {
  content: " ";
  display: block;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: rgb(245, 244, 250);
  background-image: url(../img/Astronaut.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.information-item:not(:last-child) {
  margin-right: 30px;
}

.information-main {
  color: rgb(117, 117, 117);
}

/* WORK */
.work {
  margin-bottom: 94px;
}

.work-name,
.team-name {
  color: rgb(33, 33, 33);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1666666667;
  /* margin-bottom: 50px; */
}

.work-name {
  width: 366px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 94px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work-inner {
  position: relative;
}

.work-title {
  color: rgb(255, 255, 255);
}

.work-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.4);
  width: 100%;
  height: 70px;
}

.work-item:not(:last-child) {
  margin-right: 30px;
}

/* TEAM */
.team {
  margin-bottom: 60px;
  background-color: rgb(245, 244, 250);
  width: 1600px;
  margin: 0 auto;
}

.team-name {
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 264px;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  height: 428px;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background: rgb(255, 255, 255);
  margin-bottom: 94px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-figure {
  text-align: center;
}

.team-caption {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
  padding-top: 30px;
}

.team-job {
  color: rgb(117, 117, 117);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1875;
}

/* CUSTOMERS */
.customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 94px;
}

.customer {
  fill: rgb(175, 177, 184);
  width: 81px;
  height: 46.7px;
}

.customers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 94px;
  gap: 10px;
  margin-top: 50px;
}

.customers-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 3%;
}

.customers-item {
  border-radius: 4px;
  width: 170px;
  height: 92px;
  border: 1px solid rgb(175, 177, 184);
  padding-top: 23px;
  padding-bottom: 37.3px;
  padding-left: 50px;
  padding-right: 125px;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-item:hover,
.customers-item:hover .customer {
  border-color: rgb(33, 150, 243);
  fill: rgb(33, 150, 243);
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

/* FOOTER */
.footer-media-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-describsion {
  margin-bottom: 20px;
}

.media-footer {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer-svg {
  fill: rgb(255, 255, 255);
}

.join-us {
  padding-left: 4px;
  color: rgb(255, 255, 255);
}

.footer {
  width: 1600px;
  height: 252px;
  background-color: rgb(47, 48, 58);
  margin: 0 auto;
}

.footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding-top: 60px;
  height: 100%;
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-list {
  font-style: normal;
}

.footer-logo {
  font-weight: 700;
  font-style: normal;
  margin-top: 60px;
  margin-bottom: 20px;
}

.footer-item {
  margin-bottom: 9px;
  color: rgb(255, 255, 255);
}

.footer-contact {
  color: rgb(255, 255, 255);
  opacity: 60%;
}

.footer-item:last-child {
  margin-bottom: 60px;
}

.footer-describsion {
  padding-left: 4px;
  color: rgb(255, 255, 255);
}

.email-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.submit-wrapper {
  position: relative;
}

.submit-footer {
  background-color: rgb(33, 150, 243);
  color: rgb(255, 255, 255);
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 6%;
  padding-right: 45px;
  margin-left: 12px;
  border-radius: 4px;
  width: 200px;
  height: 50px;
}

.footer-email {
  background-color: rgb(47, 48, 58);
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  color: rgb(255, 255, 255);
}

.footer-email:focus {
  color: rgb(255, 255, 255);
}

.submit-icon {
  position: absolute;
  top: 15px;
  right: 30px;
  fill: rgb(255, 255, 255);
}

/* SORTING */
.sorting-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 34px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 60px;
}

.sorting-item:not(:last-child) {
  margin-right: 8px;
}

.sorting-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  background: rgb(245, 244, 250);
  cursor: pointer;
  border-radius: 4px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: none;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sorting-button:is(:focus, :hover) {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  color: rgb(255, 255, 255);
  background: rgb(33, 150, 243);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

/* PROJECTS */
.projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.overlay-holder {
  overflow: hidden;
  position: relative;
}

.overlay-holder:hover .projects-overlay {
  top: 305px;
  -webkit-transform: translateY(-305px);
      -ms-transform: translateY(-305px);
          transform: translateY(-305px);
}

.projects-overlay {
  color: rgb(255, 255, 255);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  padding-top: 63px;
  padding-right: 24px;
  padding-left: 24px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 3%;
  position: absolute;
  top: 306px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: background-color 600ms cubic-bezier(0.42, 0, 0.12, 0.93), -webkit-transform 600ms cubic-bezier(0.42, 0, 0.12, 0.93);
  transition: background-color 600ms cubic-bezier(0.42, 0, 0.12, 0.93), -webkit-transform 600ms cubic-bezier(0.42, 0, 0.12, 0.93);
  transition: transform 600ms cubic-bezier(0.42, 0, 0.12, 0.93), background-color 600ms cubic-bezier(0.42, 0, 0.12, 0.93);
  transition: transform 600ms cubic-bezier(0.42, 0, 0.12, 0.93), background-color 600ms cubic-bezier(0.42, 0, 0.12, 0.93), -webkit-transform 600ms cubic-bezier(0.42, 0, 0.12, 0.93);
}

.projects-item:hover .projects-overlay {
  top: 305px;
  -webkit-transform: translateY(-305px);
      -ms-transform: translateY(-305px);
          transform: translateY(-305px);
}

.projects-item {
  border: 1px solid rgb(236, 236, 236);
  -ms-flex-preferred-size: calc((100% - 40px) / 3);
      flex-basis: calc((100% - 40px) / 3);
  gap: 20px;
}

.projects-item:is(:hover, :focus) {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.projects-img {
  width: 100%;
}

.projects-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  color: rgb(33, 33, 33);
  padding-left: 24px;
  padding-right: 24px;
}

.name-holder {
  padding-top: 20px;
  padding-bottom: 20px;
}

.projects-caption {
  color: rgb(117, 117, 117);
  font-size: 16px;
  line-height: 1.875;
  padding-left: 24px;
  padding-right: 48px;
}

/* MODAL */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.btn {
  position: relative;
  position: absolute;
  right: 20px;
  width: 30px;
  height: 30px;
  background-color: none;
  border-radius: 50%;
  border: 1px solid rgb(236, 236, 236);
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}

.close-modal {
  position: absolute;
  left: 9px;
  bottom: 8px;
  width: 11px;
  height: 11px;
  right: 10px;
}

.modal-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  margin-top: 20px;
}

.form-describsion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 1%;
  color: rgb(117, 117, 117);
}

.modal {
  width: 528px;
  height: 581px;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background: rgb(255, 255, 255);
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.input {
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 36px;
  margin-bottom: 10px;
  margin-top: 4px;
  outline: none;
  cursor: pointer;
}

.input:focus {
  cursor: text;
}

.input:focus {
  border-color: rgb(33, 150, 243);
}

.input:focus + .name-icon {
  fill: rgb(33, 150, 243);
}

.name-icon {
  position: absolute;
  fill: rgb(33, 33, 33);
  top: 111px;
  left: 55px;
}

.input:focus + .phone-icon {
  fill: rgb(33, 150, 243);
}

.phone-icon {
  position: absolute;
  fill: rgb(33, 33, 33);
  top: 190px;
  left: 55px;
}

.input:focus + .envelope-icon {
  fill: rgb(33, 150, 243);
}

.envelope-icon {
  position: absolute;
  fill: rgb(33, 33, 33);
  top: 268px;
  left: 55px;
}

.comment {
  width: 448px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 16px;
  padding-top: 12px;
  margin-bottom: 10px;
  margin-top: 4px;
  max-width: 448px;
  max-height: 120px;
  min-width: 448px;
  min-height: 120px;
  outline: none;
  cursor: pointer;
  resize: none;
}

.comment:focus::-webkit-input-placeholder {
  color: rgb(33, 150, 243);
}

.comment:focus::-moz-placeholder {
  color: rgb(33, 150, 243);
}

.comment:focus:-ms-input-placeholder {
  color: rgb(33, 150, 243);
}

.comment:focus::-ms-input-placeholder {
  color: rgb(33, 150, 243);
}

.comment:focus::placeholder {
  color: rgb(33, 150, 243);
}

.comment:focus {
  border-color: rgb(33, 150, 243);
  cursor: text;
}

.checkbox-link {
  margin-left: 2px;
  color: rgb(33, 150, 243);
  text-decoration: underline;
}

.checkbox-input {
  position: absolute;
  top: 471px;
  left: 75px;
  margin-right: 5px;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.checkbox-holder {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5px;
}

.form-describsion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 3%;
}

.submit-form {
  margin-top: 15px;
  color: rgb(237, 237, 237);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  cursor: pointer;
  background: rgb(33, 150, 243);
  border: none;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.42, 0, 0.12, 0.93);
  transition: -webkit-transform 300ms cubic-bezier(0.42, 0, 0.12, 0.93);
  transition: transform 300ms cubic-bezier(0.42, 0, 0.12, 0.93);
  transition: transform 300ms cubic-bezier(0.42, 0, 0.12, 0.93), -webkit-transform 300ms cubic-bezier(0.42, 0, 0.12, 0.93);
}

.submit-form:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.checkbox-descibsion {
  margin-left: 20px;
}/*# sourceMappingURL=main.css.map */