@import url('https: //fonts.googleapis.com/css2?family=Raleway:wght@0,100..900;1,100..900&family=Ubuntu:wght@300&display=swap');

    
    $logo-color: rgb(33, 150, 243);
    $third-text-color: rgb(117, 117, 117);
    $second-text-color: rgb(237, 237, 237);
    $main-text-color: rgb(33, 33, 33);
    $team-background-color: rgb(245, 244, 250);
    $second-background-color: rgb(47, 48, 58);
    $main-background-color: rgb(255, 255, 255);
    $overlay: rgba(47, 48, 58, 0.4);
    $border-color: rgb(238, 238, 238);
    $icon-color: rgb(175, 177, 184);
    $footer-icon-background: rgba(255, 255, 255, 0.1);
    $border-color: rgb(236, 236, 236);
    $input-border-color: rgba(33, 33, 33, 0.2);
    $shadow-submit-btn: rgba(0, 0, 0, 0.15);
    $footer-email-border: rgba(255, 255, 255, 0.3);
    $projects-overlay: rgba(33, 150, 243, 0.9);
